## Data Filtering and Selection

In [1]:
!pip install numpy
!pip install pandas

Requirement already satisfied: numpy in /home/codespace/.local/lib/python3.10/site-packages (1.26.4)
Requirement already satisfied: pandas in /home/codespace/.local/lib/python3.10/site-packages (2.2.2)
Requirement already satisfied: numpy>=1.22.4 in /home/codespace/.local/lib/python3.10/site-packages (from pandas) (1.26.4)
Requirement already satisfied: python-dateutil>=2.8.2 in /home/codespace/.local/lib/python3.10/site-packages (from pandas) (2.9.0.post0)
Requirement already satisfied: pytz>=2020.1 in /home/codespace/.local/lib/python3.10/site-packages (from pandas) (2024.1)
Requirement already satisfied: tzdata>=2022.7 in /home/codespace/.local/lib/python3.10/site-packages (from pandas) (2024.1)
Requirement already satisfied: six>=1.5 in /home/codespace/.local/lib/python3.10/site-packages (from python-dateutil>=2.8.2->pandas) (1.16.0)

In [2]:
import numpy as np
import pandas as pd

from pandas import DataFrame

In [4]:
numbers_lala = DataFrame(np.arange(0,90,2).reshape(9,5))
numbers_lala

    0   1   2   3   4
0   0   2   4   6   8
1  10  12  14  16  18
2  20  22  24  26  28
3  30  32  34  36  38
4  40  42  44  46  48
5  50  52  54  56  58
6  60  62  64  66  68
7  70  72  74  76  78
8  80  82  84  86  88

In [6]:
numbers_df = DataFrame(np.arange(0,90,3).reshape(10,3), index = ['row 1','row 2','row 3','row 4','row 5','row 6','row 7','row 8','row 9','row 10'],columns=['column 1','column 2','column 3'])
numbers_df

        column 1  column 2  column 3
row 1          0         3         6
row 2          9        12        15
row 3         18        21        24
row 4         27        30        33
row 5         36        39        42
row 6         45        48        51
row 7         54        57        60
row 8         63        66        69
row 9         72        75        78
row 10        81        84        87

In [7]:
numbers_df.iloc[0,1] # locating the item with index

3

#### Comparison operators (> < = <= => == !=) and Masking.